.footer {
    
    background-color: #29abe0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: center;
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    margin-top: 10rem;
    box-shadow: 1px 1px 10px 1px black;
    
 
    
    
  }
  .redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
  }

  @media (min-width: 900px) {
    .footer{
      margin-top: 3rem;
    }
  }